[Unit]
Description=Statuspage Frenet
After=network.target

[Service]
ExecStart=/var/www/html/health-check.sh
WorkingDirectory=/var/www/html/

Restart=on-failure

[Install]
WantedBy=multi-user.target